
.contact-carousel {
	.carousel-img {
		min-height: 270px;
	}
	.container {
		margin: 0;
		@include media-breakpoint-up(lg) { 
			margin: auto;
			.row {
				margin: 0 -10px;
			}
		}
	}
}

.page-contact {
	.form-label {
		font-weight: 600;
		margin: 10px 0 5px;
		display: block;
	}
	textarea {
		margin: 0;
	}
	
	.carousel {
		width: 100%;
		margin-bottom: 0;
		@include media-breakpoint-up(lg) {
			padding-bottom: 60px;
		}
		.carousel-item {
			width: 100%;
			max-width: auto;
		}
		.item-content {
			width: 95%;
			max-width: none;
			left: 2.5%;
		}
	}
}

.contact-showroom {
	background: $main-grey-bg-color;
	@include media-breakpoint-up(md) {
		padding-top: 110px;
		margin-top: -60px;
    }
	h3 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 25px;
	}
	h4 {
		font-size: 20px;
		margin-bottom: 15px;
		@include media-breakpoint-up(lg) {
			background: #FFF;
			margin: 0;
			padding: 45px 50px 10px;
		}
	}
	img {
		max-width: 100%;
	}
	input[type=submit],
	button {
		font-weight: 600;
		font-size: 16px;
		@include media-breakpoint-up(md) {
			width: 200px;
		}
		img {
			height: 15px;
			margin-left: 5px;
		}
	}
	form {
		background: $white-color;
		padding: 20px;
		margin-bottom: 50px;
		@include media-breakpoint-up(lg) {
			padding: 20px 55px;
		}
	}
}

.page {
	.contact-line {
		color: $main-brown-color;
		line-height: 150%;
		.contact-line h2 {
			font-weight: bold;
			margin: 50px 0 20px;
		}
		span.icon {
			background-color: #e3efdf;
			display: block;
			width: 45px;
			height: 45px;
			margin: 0 10px 30px 0;
			border-radius: 50%;
			float: left;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.open {
			.icon {
				background-image: url('../images/icon_green_location.svg');
			}
			p {
				margin: 0;
				font-size: 16px;
			}
		}
		.place .icon {
			background-image: url('../images/icon_pin_store.svg');
		}
		.contact-member {
			.icon {
				margin-bottom: 0;
			}
			.phone {
				width: 80%;
			}
			.viber-btn {
				width: 20%;
			}
		}	
	}
	
	.add-info {
		width: 300px;
		justify-content: space-between;
		margin-top: 25px;
	}
}

/**
 * Contact form mods
 */
.form-row {
	&.checkbox-row {
		margin-top: 20px;
		margin-bottom: 25px;
		display: block;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			display: flex;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.wpcf7-form-control-wrap {
			@include media-breakpoint-down(md) {
				float: left;
			}
		}
		label {
			margin: 0 0 0 15px;
			width: 80%;
			@include media-breakpoint-down(md) {
				display: block;
			}
			@include media-breakpoint-up(md) {
				margin-top: 7px;
			}
		}
		.wpcf7-list-item {
			margin: 0;
			input[type=checkbox] {
				width: 30px;
				height: 30px;
				float: left;
				margin-right: 10px;
			}
		}
		.wpcf7-not-valid-tip {
			position: absolute;
			bottom: 0;
			@include media-breakpoint-up(lg) {
				bottom: -10px;
			}
			width: 200px;
			left: 55px;
		}
	}
	/*.wpcf7-submit {
		&:before {
			content: '';
			background: url(https://alfold.szakmunkablog.com/wp-content/themes/alfoldfa/images/icon_arrow_white_right.svg) no-repeat;
			width: 20px;
			height: 20px;
		}
	}*/
	.ajax-loader {
		display: block;
		text-align: right;
		position: absolute;
		right: 40px;
	}
}

.contact-container {
	margin-bottom: 30px;
	h2 {
		font-weight: 600;
		margin: 35px 0 10px;
		font-size: 30px;
		@include media-breakpoint-up(lg) {
			margin: 80px 0 45px;
		}
	}
	&.foreign-contact {
		h2 {
			margin: 10px 0 25px;
		}
	}
	.rank {
		font-weight: 600;
	}
	.phone {
		.icon {
			background: url(../images/icon_pin_phone.svg) no-repeat;
			background-size: cover;
			width: 50px;
			height: 50px;
			display: inline-block;
			margin-right: 5px;
			float: left;
			@include media-breakpoint-up(lg) {
				margin-right: 10px;
			}
		}
	}
	.contact-member {
		margin: 0 0 30px;
		width: 100%;
		flex: auto;
		&> div {
			background: $main-grey-bg-color;
			padding: 35px 20px;
			height: 100%;
			@include media-breakpoint-up(md) {
				padding: 35px 10px;
			}
			@include media-breakpoint-up(lg) {
				padding: 35px 25px;
			}
			@include media-breakpoint-up(xl) {
				padding: 35px 45px;
			}
		}
		h3 {
			font-size: 24px;
			font-weight: 600;
		}
		
		.phone,
		p {
			color: $main-brown-color;
			line-height: 150%;
			margin-bottom: 15px;
			width: 100%;
		}
	}
}
