.ln-cookie {
	background: #DDD;
	padding: 15px;
	padding-bottom: 40px;
	z-index: 10000;
}
.cookie-note {
	width: 100%;
  text-align: center;
}
.cookie-button {
	width: 100%;
	text-align: center;
	a,
	button {
		display: inline-block;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		max-width: 120px;
		width: 100%;
		border: none;
		height: 30px;
		color: #fff;
		font-size: 15px;
		margin: 5px 7px;
		/*float: right;*/
		&.accept-btn {
		  background: #f2491e;
		}

	}
	.more-btn {
		background: #AAA;
		margin-right: 10px;
		text-align: center;
		/*float: right;*/
		line-height: 30px;
	}
}

@media (min-width: 480px) {
	.cookie-button {
		button {
			max-width: 120px;
		}
	}
}
@media (min-width: 600px) {
  .ln-cookie {
    padding-bottom: 15px;
  }
}
@media (min-width: 850px) {
  .ln-cookie {
    display: flex;
  }
  .cookie-note {
    width: 55%;
    text-align: left;
  }
  .cookie-button {
    width: 35%;
    text-align: right;
    button {
      max-width: none;
      width: auto;
      padding: 3px 15px;
      float: right;
    }
  }
  .more-btn {
	float: right;
  }
}
