form {
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    &:focus {
      box-shadow: 0 0 5px $implementer-color;
      border: 1px solid $implementer-color;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../images/chevron-down.png');
    background-repeat: no-repeat;
    background-position: 98% 15px;
    background-size: 23px 23px;
    &::-ms-expand {
     display:none;
    }
  }
  textarea {
    height: 100px;
    margin: 10px 0;
  }
  button {
    height: 66px;
    margin-top: 15px;
    background-color: #FF811E;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    width: 100%;
  }
  .checkbox,.radioButton {
    vertical-align: middle;
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    .radioLabel {
      bottom: 0;
      width: 100%;
      color: #848FA0;
      font-weight: bold;
      &.thin {
        font-weight: 400;
      }
    }
    input {
      opacity: 0;
      margin: -9px;
    }
  }
  .normal {
    .radioLabel {
      color: #93A0AB;
    }
    .radioButton {
      padding: 0 20px 0 37px;
      .checkmark {
        position: absolute;
        top: 0px;
        left: 0;
        border: 1px solid #DBD9D7;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 5px;
          top: 5px;
          width: 13px;
          height: 13px;
          border-radius: 100%;
          background-color: $implementer-color;
        }
      }
      input {
        &:checked ~ .checkmark {
          &:after {
            display: block;
          }
        }
      }
    }
    .checkbox {
      padding: 0 30px 0 30px;
      border: none;
      max-width: 100%;
      text-align: left;
      height: auto;
      .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #93A0AB;
        background-color: white;
        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 5px;
          top: 1px;
          width: 6px;
          height: 11px;
          border: solid;
          border-width: 0 2px 2px 0;
          border-color: white;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      input {
        &:checked ~ .checkmark {
          background-color: $implementer-color;
          border-color:  $implementer-color;
          &:after {
            display: block;
          }
        }
      }
    }
  }

}
