
.product-container {
	background: $main-grey-bg-color;
	.content-container {
		@include media-breakpoint-up(md) {
			h1 {
				margin-top: 20px;
			}
		}
		@include media-breakpoint-up(lg) {
			margin: 20px 0 0;
			img.image {
				width: 100%;
				max-width: 100%;
				margin-left: 0;
			}
		}
		
		iframe {
			max-width: 100%;
		}
	}
	.product-title {
		padding: 10px 0;
	}
	.breadcrumb {
		opacity: 0.5;
		font-size: 14px;
		line-height: 50px;
		position: relative;
		padding-left: 5px;
		span {
			@include chevron($main-brown-color, 9px, 225deg);
			position: relative;
			top: -2px;
			left: 0;
			margin: 0 10px 0;
			vertical-align: middle;
		}
	}
	h2 {
		margin-bottom: 15px;
	}
	p {
		margin-bottom: 15px;
	}
	.nav span {
		&.back,
		&.ahead {
			background-color: transparent;
			border: none;
		}
	}
	.product-images {
		margin-bottom: 25px;
		@include media-breakpoint-up(md) {
			display: block;
			float: left;
			width: 66%;
			margin-right: 20px;
		}
		@include media-breakpoint-up(lg) {
			width: 50%;
		}
	}
	.product-image {
		img {
			max-width: 100%;
			margin: 0;
		}
	}
	
	table {
		margin-top: 15px;
		width: 100%;
		font-size: 14px;
		thead {
			color: $main-brown-color;
			opacity: 0.5;
			font-size: 14px;
			text-transform: uppercase;
		}
		tbody {
			tr {
				background: $white-color;
				&:nth-child(odd) {
					background: $main-grey-bg-color;
				}
				td {
					padding: 15px 10px;
					@include media-breakpoint-up(md) {
						padding: 15px 5px;
					}
					@include media-breakpoint-up(lg) {
						padding: 15px 10px;
					}
					&.title-cel {
						padding: 5px 5px;
						font-size: 14px;
						text-align: center;
					}
				}
			}
		}
	}
	.product-page-featured {
		padding-left: 0;
	}
	.product-prices {
		background: $white-color;
		padding-top: 60px;
		@include media-breakpoint-up(lg) {
			.offer-request {
				background-size: cover;
				padding: 50px 25px;
				h4 {
					font-size: 30px;
					line-height: 125%;
				}
				p {
					font-size: 20px;
					margin: 15px 0 25px;
				}
				.button-block,
				.content-block {
					width: 100%;
				}
			}
		}
	}
	
}

a.btn,
input[type=submit],
button {
	height: 50px;
	line-height: 175%;
	margin: 0 0 15px;
	text-transform: uppercase;
	color: $main-green-color;
	&:hover {
		color: $main-green-hover-color;
	}
	&.btn-white {
		background: $white-color;
		line-height: 35px;
	}
	&.btn-green {
		background: $main-green-color;
		color: $white-color;
	}
	img {
		margin: 0;
		width: auto;
		top: 3px;
		position: relative;
	}
}


.product-references {
	background: $main-brown-color;
	padding-bottom: 70px;
	.product-title {
		padding: 45px 0 15px;
	}
	h2 {
		color: $white-color;
		line-height: 175%;
	}
	.nav span {
		&.back {
			background: url(../images/icon_arrow_white_left.svg) center center no-repeat;
			border: none;
		}
		&.ahead {
			background: url(../images/icon_arrow_white_right.svg) center center no-repeat;
		}
	}
	.reference {
		margin-right: 20px !important;
	}
	.reference-images {
		margin-bottom: 25px;
		img {
			max-width: 100%;
		}
	}
	.ngg-gallery-thumbnail {
		max-height: 310px;
	}
	
}

.product-knowledge {
	background: $main-grey-bg-color;
	padding-bottom: 40px;
	@include media-breakpoint-up(lg) {
		.other-products.other-products-block {
			margin-top: 85px;
			.col {
				.other-product {
					width: 100%;
					flex-basis: 100%;
					.product-title {
						padding: 0;
						font-weight: normal;
						h4 {
							font-size: 20px;
							margin-left: 20px;
						}
						p {
							margin-left: 20px;
						}
					}
				}
			}
		}
	}	
}

.product-page-featured .other-products {
	background: $main-grey-bg-color;
	.other-product {
		background: $white-color;
	}
}
