<script type="text/x-template" id="appTemplate">
    <div>
		<preloader ref="preloader"></preloader>
		
		<transition name="fade" mode="out-in">
				<router-view ref="content"></router-view>
		</transition>

    <transition name="alertfaderout" mode="out-in">
			<div class="ln-cookie" style="position:sticky;bottom:0;" v-if="displayCookieConsent">
				<div class="cookie-content">
					<div class="cookie-note">
						We use cookies to personalise content and ads, to provide social media features and to analyse our traffic.
					</div>
					<div class="cookie-button">
						<button class="accept-btn" v-on:click="acceptCookies()">I got it</button>
					</div>
				</div>
			</div>
		</transition>
	</div>
</script>
